:javascript
  var apiKey = '#{ENV['OPENTOK_API_KEY']}';
  var sessionId = '#{@event.session_id}';
  var token = '#{@token}';

  // Initialize an OpenTok Session object
  var session = TB.initSession(sessionId);

  // Initialize a Publisher, and place it into the element with id="publisher"
  var publisher = TB.initPublisher(apiKey, 'publisher', {publishVideo: false});

  // Attach event handlers
  session.on({
  // This function runs when another client publishes a stream (eg. session.publish())
  streamCreated: function(event) {
  // Create a container for a new Subscriber, assign it an id using the streamId, put it inside
  // the element with id="subscribers"
  var subContainer = $(document.createElement('ul'));
  subContainer.attr('id', 'stream-' + event.stream.streamId);
  subContainer.addClass('stream');
  subContainer.data('streamId', event.stream.streamId)
  $('#subscribers').append(subContainer);
  // Subscribe to the stream that caused this event, put it inside the container we just made
  session.subscribe(event.stream, subContainer);
  }
  });

  // Connect to the Session using the 'apiKey' of the application and a 'token' for permission
  session.connect(apiKey, token);

#publisher

%ul#subscribers
  %li.stream
    %img{ src: 'https://placeimg.com/640/480/any', data: {streamId: n = 1} }
  %li.stream
    %img{ src: 'https://placeimg.com/640/480/any', data: {streamId: n += 1} }
  %li.stream
    %img{ src: 'https://placeimg.com/640/480/any', data: {streamId: n += 1} }
  %li.stream
    %img{ src: 'https://placeimg.com/640/480/any', data: {streamId: n += 1} }
  %li.stream
    %img{ src: 'https://placeimg.com/640/480/any', data: {streamId: n += 1} }
