.row
  .columns
.row
  .medium-2.columns
    = link_to "<< Back", @event, class: 'button'
  .medium-7.columns#presenter
    %img{ src: 'https://placeimg.com/1200/1600/people' }
  .medium-3.columns
    %ul#subscribers

.row
  .columns
